/* Formatações Gerais */

.CarrinhoPage .content{
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

/* Formatação caso o carrinho esteja vazio */

.CarrinhoPage .content .empty{
    font-size: 3rem;
}
